<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ecotracker</title>

    <!-- Google fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap"
        rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined" rel="stylesheet">

    <!-- CSS -->
    <link rel="stylesheet" href="css/main.css">
</head>

<body>

    <div id="app">

        <!-- Section: Nav bar-->
        <navbar :cart="cart" @open-cart="cartOpen = true">
        </navbar>


        <!-- Section: Carrito-->
        <cart-drawer :cart="cart" :cart-open="cartOpen" :cart-total="cartTotal" @close-cart="closeCart"
            @checkout="checkout" @increase="increaseQty" @decrease="decreaseQty" @remove="removeFromCart">
        </cart-drawer>

        <!-- Section: Modales y toast-->

        <div class="ui-layer">

            <div class="toast" v-if="showToast">
                Producto agregado al carrito 🌿
            </div>

            <div class="modal-overlay" v-if="showModal">
                <div class="modal">
                    <h2 class="modal__title">¡Compra realizada!</h2>
                    <p class="modal__body">Gracias por comprar en Ecotracker 🌱</p>
                    <button class="btn btn--outline" @click="showModal = false">Cerrar</button>
                </div>
            </div>

            <product-detail v-if="selectedProduct" :product="selectedProduct" @close="selectedProduct = null"
                @add-to-cart="addToCart">
            </product-detail>

        </div>

        <!-- Section: Hero-->
        <hero></hero>


        <!-- Section: About-->
        <about></about>

        <!-- Section: How it works-->

        <how-it-works></how-it-works>

        <!-- Section:Catalog-->
        <section class="catalog" id="catalog">
            <h2 class="catalog__title">Catálogo de productos</h2>

            <div class="catalog__tabs">
                <button class="btn btn--outline" v-for="cat in categories" :key="cat" @click="selectedCategory = cat"
                    :class="{ 'btn--active': selectedCategory === cat }">
                    {{ cat }}
                </button>
            </div>

            <product-list :products="filteredProducts" @add-to-cart="addToCart" @view-detail="selectedProduct = $event">
            </product-list>
        </section>

        <!-- Section: Footer-->
        <site-footer></site-footer>

    </div>

    <!-- CDN Vue -->
    <script src="https://unpkg.com/vue@3"></script>

    <!-- 1. Datos -->
    <script src="js/Products.js"></script>

    <!-- 2. App -->
    <script src="js/app.js"></script>

    <!-- 3. Componentes -->
    <script src="components/Navbar.js"></script>
    <script src="components/Hero.js"></script>
    <script src="components/About.js"></script>
    <script src="components/HowItworks.js"></script>
    <script src="components/Footer.js"></script>


    <script src="components/Cart.js"></script>
    <script src="components/ProductCard.js"></script>
    <script src="components/ProductList.js"></script>
    <script src="components/ProductDetail.js"></script>



    <!-- 4. Mount siempre último -->
    <script>
        app.mount('#app')
    </script>
</body>

</html>